<div class="col-md-12">
   <div class="row box">
     <div class="box-inner col-md-6 col-md-offset-3">
       <h1 class="title">金牌保姆</h1>
       <p class="slogan">
         育兒路上的老司機
         <br>
         雙薪家庭的最佳後援
       </p>
       <p class="lead">
         <%= link_to '即刻體驗', jobs_path, class: 'btn btn-danger' %>
       </p>
     </div>
   </div>
 </div>

  <div class="content-section-a">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-sm-6">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h2 class="section-heading">具備保姆證照</h2>
          <p class="lead">國家考試認證
            <br/>需定期上課進修
            <br/>update最新育兒觀念</p>
        </div>
        <div class="col-lg-5 col-lg-offset-2 col-sm-6">
          <%= image_tag 'pic-1.jpg', class: 'img-responsive' %>
        </div>
      </div>
    </div>
  </div>

  <div class="content-section-b">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h2 class="section-heading">10年以上育兒經驗</h2>
          <p class="lead">溫柔的話語 x 熟練的套路
            <br/>3秒讓哭個不停的小惡魔瞬間變成天真小天使</p>
        </div>
        <div class="col-lg-5 col-sm-pull-6  col-sm-6">
          <%= image_tag 'pic-2.jpg', class: 'img-responsive' %>
        </div>
      </div>
    </div>
  </div>

  <div class="content-section-a">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-sm-6">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h2 class="section-heading">照顧寶寶的時間富彈性</h2>
          <p class="lead">可配合爸媽的上下班時間
            <br/>每天照顧時數最長達12小時（業界最長！）
            <br/>超時費用另計</p>
        </div>
        <div class="col-lg-5 col-lg-offset-2 col-sm-6">
          <%= image_tag 'pic-3.jpg', class: 'img-responsive' %>
        </div>
      </div>
    </div>
  </div>
